    footer {
        display: grid;
        align-items: center;
        padding: 10px;
        background-color: black;
        color: white;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .social-media {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .social-media img {
        width: 40px;
        height: auto;
        margin: 0 20px;
    }

    /* Tablet View */
    @media (max-width: 768px) {
        .footer-content {
            flex-direction: column;
            text-align: center;
        }

        .social-media {
            justify-content: center;
            margin-top: 10px;
        }

        .social-media img {
            margin: 10px;
        }
    }

    /* Mobile View */
    @media (max-width: 480px) {
        .footer-content {
            flex-direction: column;
            text-align: center;
        }

        .social-media {
            justify-content: center;
            margin-top: 10px;
        }

        .social-media img {
            margin: 10px;
            width: 30px;
        }
    }