.footer {background-color: black;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 25px;
    border: 25px navy;
    color: white;
    text-align: right;
    margin: 25px
    
 
}

.footer-content {  
 
}

.social-media {  
 display: flex;
 
}

.social-media img { 
    width: 40px;
    height: auto;
    
 
 
}

.footer-info {
  
}
