.register {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

.registration-form {
    display: grid;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; 
}

.submit-button {
  padding: 20px 20px;
  background-color: #0c1580;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

