.schedule {
    display: grid;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(rgb(140, 140, 243), rgb(244, 182, 238));
}


.schedule-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    background-color: transparent;
    align-items: center;
    height: 50vh;
}

.time-slot {
    display: grid;
    justify-content: center;
    justify-self: center;
    width: 97%;
    background-color: white;
    margin: 20px;
    padding: 10px;
}

.time-slot h3 {
    display: grid;
    justify-content: center;
    background-color: white;
    color: rgb(66, 4, 66);
}